
body {
  background-color: gray;

}


table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}


th {
color: white;
  background-color: #3D3176;
  text-align: center;
  font-size: 1.5em;
}
tr:nth-child(2n){
  background-color: #FFEFAA;
}
tr:nth-child(2n+1){
  background-color: #FFFBE8;
}

